# List iteration

In [2]:
words = ["hola", "adios"]

## List comprehension

In [3]:
uppers = [w.upper() for w in words]

## Dict comprehension

In [4]:
n_letters = {w.upper(): len(w) for w in words}

In [5]:
n_letters

{'HOLA': 4, 'ADIOS': 5}

# Dict iteration

In [6]:
students = {
    "jeancha": "capucha",
    "xabi": "cascos"
}

In [8]:
students["xabi"] = "reloj"

In [10]:
students

{'jeancha': 'capucha', 'xabi': 'reloj'}

In [11]:
for s in students:
    print(s)

jeancha
xabi

In [13]:
for stu, obj in students.items():
    print(f"{stu} has {obj}")

jeancha has capucha
xabi has reloj

## List comprehension

In [14]:
[obj for stu, obj in students.items()]

['capucha', 'reloj']

In [15]:
[stu for stu, obj in students.items()]

['jeancha', 'xabi']

In [16]:
[stu + obj for stu, obj in students.items()]

['jeanchacapucha', 'xabireloj']

In [20]:
students

{'jeancha': 'capucha', 'xabi': 'reloj'}

In [19]:
for o in students.values():
    print(o)

capucha
reloj

## Dict comprehension

In [17]:
students

{'jeancha': 'capucha', 'xabi': 'reloj'}

In [21]:
{stu.upper(): obj + " guay" for stu, obj in students.items()}

{'JEANCHA': 'capucha guay', 'XABI': 'reloj guay'}

In [37]:
d = {elem: ind ** 2 for ind, elem in enumerate("guanajuato")}

In [38]:
d

{'g': 0, 'u': 36, 'a': 49, 'n': 9, 'j': 25, 't': 64, 'o': 81}

In [39]:
capitals = {
    "Spain": "Madrid",
    "Portugal": "Lisbon",
    "France": "Paris"
}

In [40]:
capitals["France"]

'Paris'

In [41]:
{city: country for country, city in capitals.items()}

{'Madrid': 'Spain', 'Lisbon': 'Portugal', 'Paris': 'France'}

In [42]:
population = {
    "madrid": 6,
    "bcn": 6, 
    "sevilla": 4
}

In [43]:
{pop: city for city, pop in population.items()}

{6: 'bcn', 4: 'sevilla'}

In [44]:
square = lambda x: x ** 2

In [46]:
square(3)

9

In [51]:
lst = [1, 2, 3]

In [52]:
def cube(x):
    return x ** 3

In [55]:
cube(5)

125

In [56]:
cube(10)

1000

In [53]:
list(map(cube, lst))

[1, 8, 27]

In [54]:
list(map(lambda x: x ** 5, lst))

[1, 32, 243]

In [67]:
divisible_by_12 = lambda n: 1 if 12 % n == 0 else 0

In [68]:
divisible_by_12(3)

True

In [70]:
mod = lambda n, a: 1 if n % a == 0 else 0

In [71]:
mod(12, 4)

1

In [72]:
mod(12, 5)

0

In [75]:
# factory of divisible_por_b def divisor(b):
def divisor(b):
    div_por_b = lambda a: mod(b, a)
    
    return div_por_b

- `divisor` is a function
- it receives 1 param (b) and returns 1 function
- this returned function receives 1 param and returns 1 or 0

In [76]:
divi_por_15 = divisor(15)

In [78]:
divi_por_15

In [77]:
type(divi_por_15)

function

In [79]:
divi_por_15(6)

0

In [80]:
divi_por_15(3)

1

In [86]:
list1 = [1, 2, 3, 4]
list2 = [2, 3, 4, 5]

In [89]:
compare = lambda x, y: print("True") if x > y else print("False")

In [90]:
compare(4, 5)

False

In [91]:
compare(4, 3)

True

In [92]:
for n1, n2 in zip(list1, list2):
    print(compare(n1, n2))

False
None
False
None
False
None
False
None

In [93]:
# better, but different behavior, would be
compare = lambda x, y: x > y

In [94]:
compare(5, 6)

False

In [95]:
compare(5, 4)

True

In [119]:
d = {'Honda': 1997, 'Toyota': 1995, 'Audi': 2001, 'BMW': 2005}

In [120]:
d2 = {'Toyota': 1995, 'Honda': 1997, 'Audi': 2001, 'BMW': 2005}

In [122]:
d == d2

True

In [135]:
sorted(d.items())

[('Audi', 2001), ('BMW', 2005), ('Honda', 1997), ('Toyota', 1995)]

In [128]:
def criterio_anho(tup):
    return tup[1]

In [129]:
criterio_anho(('Honda', 1997))

1997

In [130]:
def criterio_name(tup):
    return tup[0]

In [131]:
criterio_name(('Honda', 1997))

'Honda'

In [137]:
sorted(d.items(), key=criterio_name)

[('Audi', 2001), ('BMW', 2005), ('Honda', 1997), ('Toyota', 1995)]

In [144]:
sorted(d.items(), key=criterio_anho)

[('Toyota', 1995), ('Honda', 1997), ('Audi', 2001), ('BMW', 2005)]

In [143]:
# equiv with lambda
sorted(d.items(), key=lambda tup: tup[1])

[('Toyota', 1995), ('Honda', 1997), ('Audi', 2001), ('BMW', 2005)]

In [142]:
sorted(d.items(), key=lambda tup: tup[0][-2])

[('BMW', 2005), ('Honda', 1997), ('Audi', 2001), ('Toyota', 1995)]

In [145]:
sorted(d.items(), key=lambda tup: tup[0][-2], reverse=True)

[('Toyota', 1995), ('Honda', 1997), ('Audi', 2001), ('BMW', 2005)]