# Importing functions from cousin folder

In [1]:
import sys

In [2]:
sys.path.append("../")

In [3]:
sys.path

['/home/sheriff/ironhack/2021_january/teaching/week_03/notebooks',
 '/home/sheriff/miniconda3/envs/ironhack/lib/python38.zip',
 '/home/sheriff/miniconda3/envs/ironhack/lib/python3.8',
 '/home/sheriff/miniconda3/envs/ironhack/lib/python3.8/lib-dynload',
 '',
 '/home/sheriff/miniconda3/envs/ironhack/lib/python3.8/site-packages',
 '/home/sheriff/miniconda3/envs/ironhack/lib/python3.8/site-packages/IPython/extensions',
 '/home/sheriff/.ipython',
 '../']

In [7]:
import src.utils as utils

In [ ]:
utils.hola()

In [ ]:
# equiv
from src.utils import test_function, remove_accents, hola

In [ ]:
# equiv but worse (less readable)
from src.utils import *

In [12]:
# this magic command loads into namespace all functions defined therein
%run ../src/utils.py

# Dates

In [4]:
import pandas as pd

In [6]:
df = pd.read_csv("../../datasets/attacks.csv", encoding = "ISO-8859-1")

In [7]:
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [8]:
df.Date.dtype

dtype('O')

## Dates in Python

In [10]:
from datetime import datetime

In [18]:
hoy = "01/02/2021"

In [19]:
hoy = datetime.strptime(hoy, "%d/%m/%Y")

In [23]:
hoy.weekday()

0

In [24]:
mi_nac = "12-10-89"

In [25]:
mi_nac = datetime.strptime(mi_nac, "%d-%m-%y")

In [26]:
mi_nac.weekday()

3

In [31]:
hoy - mi_nac

datetime.timedelta(days=11435)

## Dates in Pandas

In [35]:
df.Date.dtype

dtype('O')

In [33]:
df.Date.head()

0    25-Jun-2018
1    18-Jun-2018
2    09-Jun-2018
3    08-Jun-2018
4    04-Jun-2018
Name: Date, dtype: object

We can apply function to extract month (caution! not all dates same structure)

In [43]:
def extract_month(date_string):
    return date_string[3:6]

In [44]:
extract_month("25-Ago-2020")

'Ago'

In [49]:
df.Date.dropna().apply(extract_month).head()

0    Jun
1    Jun
2    Jun
3    Jun
4    Jun
Name: Date, dtype: object

### pd.to_datetime

In [55]:
df = df[~df.Date.isna()]

In [57]:
df.shape

(6302, 24)

In [53]:
df.Date.isna().sum()

19421

In [61]:
import re

In [68]:
df.Country.nunique()

212

In [67]:
df.Country.value_counts().head(10)

USA                 2229
AUSTRALIA           1338
SOUTH AFRICA         579
PAPUA NEW GUINEA     134
NEW ZEALAND          128
BRAZIL               112
BAHAMAS              109
MEXICO                89
ITALY                 71
FIJI                  62
Name: Country, dtype: int64

In [62]:
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

# inplace

In [73]:
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [74]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [77]:
# create little dataframe for testing stuff
df2 = df[['Date', 'Year', 'Type', 'Country', 'Area']].copy()

In [79]:
df2.head()

          Date    Year        Type    Country             Area
0  25-Jun-2018  2018.0     Boating        USA       California
1  18-Jun-2018  2018.0  Unprovoked        USA          Georgia
2  09-Jun-2018  2018.0     Invalid        USA           Hawaii
3  08-Jun-2018  2018.0  Unprovoked  AUSTRALIA  New South Wales
4  04-Jun-2018  2018.0    Provoked     MEXICO           Colima

In [80]:
df2.shape

(6302, 5)

In [83]:
df2 = df2.drop(columns=["Area"])

             Date    Year        Type             Country
0     25-Jun-2018  2018.0     Boating                 USA
1     18-Jun-2018  2018.0  Unprovoked                 USA
2     09-Jun-2018  2018.0     Invalid                 USA
3     08-Jun-2018  2018.0  Unprovoked           AUSTRALIA
4     04-Jun-2018  2018.0    Provoked              MEXICO
...           ...     ...         ...                 ...
6297  Before 1903     0.0  Unprovoked           AUSTRALIA
6298  Before 1903     0.0  Unprovoked           AUSTRALIA
6299    1900-1905     0.0  Unprovoked                 USA
6300    1883-1889     0.0  Unprovoked              PANAMA
6301    1845-1853     0.0  Unprovoked  CEYLON (SRI LANKA)

[6302 rows x 4 columns]

In [83]:
# equiv
df2.drop(columns=["Area"], inplace=True)

             Date    Year        Type             Country
0     25-Jun-2018  2018.0     Boating                 USA
1     18-Jun-2018  2018.0  Unprovoked                 USA
2     09-Jun-2018  2018.0     Invalid                 USA
3     08-Jun-2018  2018.0  Unprovoked           AUSTRALIA
4     04-Jun-2018  2018.0    Provoked              MEXICO
...           ...     ...         ...                 ...
6297  Before 1903     0.0  Unprovoked           AUSTRALIA
6298  Before 1903     0.0  Unprovoked           AUSTRALIA
6299    1900-1905     0.0  Unprovoked                 USA
6300    1883-1889     0.0  Unprovoked              PANAMA
6301    1845-1853     0.0  Unprovoked  CEYLON (SRI LANKA)

[6302 rows x 4 columns]

# Activity counts example

In [102]:
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [97]:
activity_counts = df.Activity.value_counts()

In [104]:
activity_counts

Surfing                                                971
Swimming                                               869
Fishing                                                431
Spearfishing                                           333
Bathing                                                162
                                                      ...
Attempting to drive shark away from sailing regatta      1
Attempting to rescue a shark                             1
Crossing river on a raft                                 1
Wading & pushing dinghy toward  the shallows             1
Dragging stranded shark into deeper water                1
Name: Activity, Length: 1532, dtype: int64

In [110]:
activity_counts.loc["Swimming"]

869

In [114]:
activity_counts.iloc[:10]

Surfing         971
Swimming        869
Fishing         431
Spearfishing    333
Bathing         162
Wading          149
Diving          127
Standing         99
Snorkeling       89
Scuba diving     76
Name: Activity, dtype: int64

In [105]:
activity_counts > 100

Surfing                                                 True
Swimming                                                True
Fishing                                                 True
Spearfishing                                            True
Bathing                                                 True
                                                       ...
Attempting to drive shark away from sailing regatta    False
Attempting to rescue a shark                           False
Crossing river on a raft                               False
Wading & pushing dinghy toward  the shallows           False
Dragging stranded shark into deeper water              False
Name: Activity, Length: 1532, dtype: bool

In [107]:
activity_counts[activity_counts > 100]

Surfing         971
Swimming        869
Fishing         431
Spearfishing    333
Bathing         162
Wading          149
Diving          127
Name: Activity, dtype: int64

In [118]:
top_activities = activity_counts[activity_counts > 100].index

In [119]:
top_activities

Index(['Surfing', 'Swimming', 'Fishing', 'Spearfishing', 'Bathing', 'Wading',
       'Diving'],
      dtype='object')

In [122]:
df.Activity.isin(top_activities)

0       False
1       False
2        True
3        True
4       False
        ...
6297     True
6298    False
6299     True
6300    False
6301     True
Name: Activity, Length: 6302, dtype: bool

In [123]:
df_top_act = df[df.Activity.isin(top_activities)].copy()

In [124]:
df_top_act.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
6,2018.06.03.a,03-Jun-2018,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,...,Tiger shark,"Diario de Pernambuco, 6/4/2018",2018.06.03.a-daSilva.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.a,2018.06.03.a,6297.0,NaN,NaN
7,2018.05.27,27-May-2018,2018.0,Unprovoked,USA,Florida,"Lighhouse Point Park, Ponce Inlet, Volusia County",Fishing,male,M,...,"Lemon shark, 3'","K. McMurray, TrackingSharks.com",2018.05.27-Ponce.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.27,2018.05.27,6296.0,NaN,NaN
12,2018.05.13.b,13-May-2018,2018.0,Unprovoked,USA,South Carolina,"Hilton Head Island, Beaufort County",Swimming,Jei Turrell,M,...,NaN,"C. Creswell, GSAF & K. McMurray TrackingSharks...",2018.05.13.b-Turrell.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.13.b,2018.05.13.b,6291.0,NaN,NaN

In [125]:
df_top_act.shape

(3042, 24)